<div class="contener train">
    <div class="row ">
        <p class="text-center">
            <span class="title"><span class="title-">------------</span> Brunch <span class="title-">------------</span></span>
        </p>

        <p class="text-justify  body">
            Lendemain de soirée oblige, on se remet d’aplomb avec un bon thé ou un café.
            Puis on partage les anecdotes de la veille autour d’un brunch reboostant dans un lieu qui vous sera prochainement dévoilé.
        </p>
    </div>

</div>