<div class="contener train">
    <i id="begin"></i>
    <div class="row ">
        <br><br>
        <p class="text-center">
            <span class="title"><span class="title-">------------</span> Quel cadeau nous offrir ? <span class="title-">------------</span></span>
        </p>
        <br><br>
        <p class=" text-center title2">
            Pas de liste de mariage. On vise un voyage !
        </p>
        <br>
        <p class="text-justify text-center body">
            Parce qu’on vit ensemble depuis 3 ans et que nous avons déjà tout ce dont nous avons besoin…
            Nous n’avons donc pas prévu de liste de mariage.
        </p>

        <p class="text-justify text-center body">
            À la place, on vise le voyage ! Un voyage à la destination encore inconnue,
             pourrait bien se profiler au soleil et pourquoi pas en Amerique du sud ?
            Si vous souhaitez contribuer à ce beau projet d’escapade ensoleillée, une urne sera à votre disposition durant le dîner.
        </p>
    </div>

</div>