<div class="contener train">
    <div class="row ">
        <p class="text-center">
            <span class="title">Quel cadeau nous offrir ?</span>
        </p>
        <p class="text-justify text-center title2">
            Pas de liste de mariage. Vous et seulement vous !
        </p>
        <p class="text-justify text-center body">
            Parce qu’on vit ensemble depuis 3 ans et que nous avons déjà tout ce dont nous avons besoin…
            Parce qu’on a conscience que c’est un investissement important de venir 2 jours à Montpellier pour assister à notre mariage, que ce soit pour le transport,
            l’hébergement ou les baby-sitters pour ceux qui viennent sans leur enfant. Nous n’avons donc pas prévu de liste de mariage.
        </p>
        <p class="text-justify text-center body bold">
            À la place, on vise le jackpot avec 100 % de nos invités présents le jour J ! Passer l’une des journées les plus importantes de notre vie en compagnie des personnes qui nous sont chères et qui font partie de notre quotidien …
        </p>
        <p class="text-justify text-center body">
            À la place, on vise le voyage ! Un voyage à la destination encore inconnue,
            qui pourrait bien se profiler au soleil pour nous aider à passer notre premier hiver québécois en tant que résidents permanents.
            Si vous souhaitez contribuer à ce beau projet d’escapade ensoleillée, une urne sera à votre disposition durant le dîner.
        </p>
    </div>

</div>