<div  class="contener train">
    <i id="begin"></i>
    <div class="row ">
        <br><br>
        <p class="text-center">
            <span class="title"><span class="title-">------------</span> Contact <span class="title-">------------</span></span>
        </p>
        <br><br>
        <p class="text-justify text-center title2">
            Une question ? Lâchez un pigeon voyageur ou envoyez-nous un message !
        </p>
        <br><br>
    </div>

    <form  name="contactform" method="post" action="" class="form-horizontal " role="form">
        <div class="form-group" ng-class="{ 'has-error': showError('nom') && testSubmit}">
            <label for="inputName" class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-5">
                <input ng-model="formData.nom" type="text" class="form-control" id="inputName" name="inputName" ng-change="initError('nom')" placeholder="Nom" ng-required="true" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': showError('prenom') && testSubmit }">
            <label for="inputLastname" class="col-sm-2 control-label">Prénom</label>
            <div class="col-sm-5">
                <input ng-model="formData.prenom" type="text" class="form-control" id="inputLastname" name="inputLastname" placeholder="Prenom" ng-change="initError('prenom')" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': showError('email') && testSubmit }">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" ng-change="initError('email')" required>
            </div>
        </div>


        <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
            <label for="inputName" class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-6">
                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Nom" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': formData.inputEmail.$invalid && submitted }">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
            <label for="inputSubject" class="col-sm-2 control-label">Objet</label>
            <div class="col-sm-6">
                <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Objet du Message" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
            <label for="inputMessage" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-6">
                <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Votre message..." required></textarea>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary btn-lg"  ng-disabled="submitButtonDisabled">Envoyer</button>
            </div>
        </div>
    </form>

</div>
