<div class="contener train">
    <i id="begin"></i>
    <div class="row ">
        <br><br>

        <p class="text-center">
            <span class="title"><span class="title-">------------</span> AirBnB <span class="title-">------------</span></span>
        </p>

        <br><br>
        <p class="text-justify text-center body">
            Airbnb reste l’une des solutions les plus intéressantes pour se loger à <a href="https://www.airbnb.fr/s/Montpellier?checkin=03%2F06%2F2016&checkout=05%2F06%2F2016&guests=2&price_min=50&price_max=421&min_bedrooms=3&zoom=13&search_by_map=true&sw_lat=43.55000346541776&sw_lng=3.8619145716447747&ne_lat=43.634961492060555&ne_lng=3.9492902125139153&ss_id=yqcnai1m" target="_blank">Montpellier</a>.
            Voici ci-dessous une carte des quartiers de la ville, nous vous conseillions de trouver un logement dans la zone limité par le cercle bleu.<br>
            Cela permettra de faciliter vos déplacements pendant le week-end.
        </p>
        <br>

        <p class="text-justify text-center title2"><img src="./../img/plan%20mtp.png" style="max-width: 954px"></p>
        <br>
        <hr>

    </div>
</div>