<div class="contener home" >

    <div class="row welcome">
        <div class="col-xs-12 col-md-6">
            <p class="text-center">
            <br>
                <span class="title ">Hourrah, vous voilà ! </span></br>
                <span class="title2 ">Les faire-part sont donc bien arrivés !</span> </br></br>
                <span class="body ">Bienvenue entre ces pages qui regroupent toutes les informations nécessaires pour participer au mariage… </br>
                Trouvez votre chemin, découvrez le programme, réservez votre hébergement et quelques adresses utiles. On vous dit au 4 juin !</span>
            </p>

        </div>
        <div class="col-xs-12 col-md-6"><img src="/img/couple.jpg"></div>
    </div>

    <div class="row mission">
        <div class="text-center"><span class="title">Votre mission pour les prochaines semaines</span></div>
        <div class="body">
            <ul>
                <li> Confirmer votre présence au mariage (Part ici)</li>
                <li> Réserver vos billets de train (Part ici)</li>
                <li> Réserver votre logement (Part ici)</li>
                <li> Et poser vos congés ! (pas ici)</li>
            </ul>
        </div>
    </div>
    <div class="row where">
        <div class="text-center"><span class="title">Ça se passe ici ?</span></div>
        <div class="body">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-12">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                            <ui-gmap-marker  coords="marker.coords" icon="marker.icon" idkey="marker.id"></ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <h3>La Cérémonie Civile</h3>
                        <p>Rendez-vous à 14h30 devant la salle des mariages de Montpellier  Domaine de Grammont, 2733 Avenue Albert Einstein, 34000 Montpellier
                        Toutes les infos sur la cérémonie civile par ici
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-12">
                        <ui-gmap-google-map center='map2.center' zoom='map2.zoom'>
                            <ui-gmap-marker  coords="marker2.coords" icon="marker2.icon" idkey="marker2.id"></ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <h3>Cérémonie d’engagement et party</h3>
                        <p>Rendez-vous au Domaine de la Banquière pour la suite des événements. Domaine de la Banquière, Chemin de la Banquière, 34130 Mauguio
                            Toutes les infos sur la cérémonie d’engagement par là
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="title">{{title}}</div>
    <div class="content">{{content}}</div>

</div>