<div class="contener" >

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <p>
                Hourrah, vous voilà ! </br></br>
                Les faire-part sont donc bien arrivés ! </br>
                Bienvenue entre ces pages qui regroupent toutes les informations nécessaires pour participer au mariage… </br>
                Trouvez votre chemin, découvrez le programme, réservez votre hébergement et quelques adresses utiles. On vous dit au 4 juin !
            </p>

        </div>
        <div class="col-xs-12 col-md-6"><img src="/img/couple.jpg"></div>
    </div>
    <div class="title">{{title}}</div>
    <div class="content">{{content}}</div>

</div>