<div class="contener home" >

    <div class="row welcome">
        <div class="col-xs-12 col-md-6">
            <p class="text-center">
            <br>
                <span class="title ">Hourrah, vous voilà ! </span></br>
                <span class="title2 ">Les faire-part sont donc bien arrivés !</span> </br></br>
                <span class="body ">Bienvenue entre ces pages qui regroupent toutes les informations nécessaires pour participer au mariage… </br>
                Trouvez votre chemin, découvrez le programme, réservez votre hébergement et quelques adresses utiles. On vous dit au 4 juin !</span>
            </p>

        </div>
        <div class="col-xs-12 col-md-6"><img src="/img/couple.jpg"></div>
    </div>

    <div class="row mission">
        <div class="text-center"><span class="title">Votre mission pour les prochaines semaines</span></div>
        <div class="body">
            <ul>
                <li> Confirmer votre présence au mariage (Part ici)</li>
                <li> Réserver vos billets de train (Part ici)</li>
                <li> Réserver votre logement (Part ici)</li>
                <li> Et poser vos congés ! (pas ici)</li>
            </ul>
        </div>
    </div>
    <div class="row where">
        <div class="text-center"><span class="title">Ça se passe ici ?</span></div>
        <div class="body">
            <div class="row">
                <div class="col-xs-12 col-md-6">

                </div>
                <div class="col-xs-12 col-md-6">

                </div>
            </div>
        </div>
    </div>


    <div class="title">{{title}}</div>
    <div class="content">{{content}}</div>

</div>