<div class="contener util">

    <div class="row">
        <p class="text-center">
            <span class="title"><span class="title-">------------</span> Liens utiles <span class="title-">------------</span></span>
        </p>

        <div class="col-md-4 text-center">
            <article class="icon-box8">

                    <div class=" glyph">
                        <i class="glyph-icon flaticon-vehicle12" style=" color:#000000;"></i>
                    </div>

                <p class="title2">Coiffeur afro (homme)</p>
                <p>
                    <span class="bold">HBC Coiffure</span> <br>
                    18 Rue d’Alger, 34000 Montpellier<br><br>
                    <span class="bold">Boris Design</span><br>
                    14 Rue Henri René, 34000 Montpellier
                </p>

            </article>
        </div>
        <div class="col-md-4 text-center">
            <article class="icon-box8">

                <div class=" glyph">
                    <i class="glyph-icon flaticon-vehicle12" style=" color:#000000;"></i>
                </div>

                <p class="title2">Coiffeur afro (femme)</p>
                <p>
                    <span class="bold">Royal Hair & Beauty</span> <br>
                    7 Boulevard du Jeu de Pomme, 34000 Montpellier<br><br>
                    <span class="bold">Bos Coiffure</span><br>
                    13 Rue du Faubourg du Courreau, 34000 Montpellier
                </p>

            </article>
        </div>
        <div class="col-md-4 text-center">
            <article class="icon-box8">

                <div class=" glyph">
                    <i class="glyph-icon flaticon-vehicle12" style=" color:#000000;"></i>
                </div>

                <p class="title2">Couturier / retouche</p>
                <p>
                    <span class="bold">XXXXX</span> <br>
                    XXXXX, 34000 Montpellier
                </p>

            </article>
        </div>
    </div>

    <div class="row ">

        <hr>
        <p class="text-justify">
            <span class="title2"> Centres commerciaux (à pied ou en tramway)</span>
        </p>
        <p class="text-justify">
        <ul>
            <li> <span class="bold">Polygone Montpellier Centre</span> : 1 Rue des Pertuisanes, 34000 Montpellier
               <a href="http://www.polygone.com" target="_blank"> http://www.polygone.com</a></li>
        <li> <span class="bold">Centre commercial Odysseum</span> : 2, place de Lisbonne 34000 Montpellier
            <a href="http://www.centre-commercial-odysseum.com" target="_blank">http://www.centre-commercial-odysseum.com</a></li>
        </ul>
        </p>

        <p class="text-justify">
            <span class="title2">Ou manger (à pied)</span>
        </p>
        <p class="text-justify">
            <ul>
                <li>Place de la chapelle neuve, 34000 Montpellier (Rue des écoles laïques)</li>
                <li>Place de la Cathédrale Sainte-Anne (Rue Sainte-Anne)</li>
                <li>Esplanade de l’Europe 34000 Montpellier (avenue du Pirée)</li>
            </ul>
        </p>
        <p class="text-justify">
            <span class="title2"> Ou prendre un verre en centre ville (à pied)</span>
        </p>
        <p class="text-justify">
        <ul>
            <li>Place Jean Jaurès, 34000 Montpellier</li>
            <li>Place de la comédie, 34000 Montpellier</li>
            <li>Esplanade de l’Europe 34000 Montpellier (avenue du Pirée)</li>
        </ul>
        </p>
        <p class="text-justify">
            <span class="title2">Ou prendre un verre et/ou manger à la plage (en voiture uniquement)</span>
        </p>
        <p class="text-justify">
        <ul>
            <li><span class="bold">Plage les lézards</span> : Rue Samuel Bassaget 34280 Carnon</li>
            <li><span class="bold">La Paillote bambou</span> : Route des Plages - Le Grand Travers, 34280 La Grande-Motte</li>
            <li><span class="bold">La voile Bleue</span> : Route des Plages – Le Grand Travers, 34280 La Grande-Motte</li>
            <li><span class="bold">Effet mer</span> : Route des Plages - Le Grand Travers 34280 La Grande Motte</li>
        </ul>
        </p>

    </div>
</div>