<div class="contener util">
    <i id="begin"></i>
    <div class="row">
        <br><br>
        <p class="text-center">
            <span class="title"><span class="title-">------------</span> Liens utiles <span class="title-">------------</span></span>
        </p>
        <br><br>
        <div class="col-md-4 col-sm-4 text-center">
            <article class="icon-box8">

                <div class=" glyph">
                    <i class="glyph-icon flaticon-hairdresser5" style=" color:#000000;"></i>
                </div>

                <p class="title2">Coiffeur femme</p>
                <p>
                    <span class="bold">Royal Hair & Beauty (afro)</span> <br>
                    7 Boulevard du Jeu de Pomme, <br>34000 Montpellier<br>
                    04 34 11 56 19
                    <br><br>
                    <span class="bold">Franck Provost</span> <br>
                    Centre commercial Polygone, <br>34000 Montpellier<br>
                    04 67 65 80 87
                    <br><br>
                    <span class="bold">Bos Coiffure (afro)</span><br>
                    13 Rue du Faubourg du Courreau,<br> 34000 Montpellier<br>
                    04 67 92 72 10
                    <br><br>
                    <span class="bold">Cammille Albane</span><br>
                    23 rue des Etuves, <br>34000 Montpellier<br>
                    04 67 59 71 96
                </p>

            </article>
        </div>
        <div class="col-md-4 col-sm-4  text-center">
            <article class="icon-box8">

                    <div class=" glyph">
                        <i class="glyph-icon flaticon-hairdresser10" style=" color:#000000;"></i>
                    </div>

                <p class="title2">Coiffeur homme</p>
                <p>
                    <span class="bold">West Barber</span><br>
                    12 Rue chaptal ,<br> 34000 Montpellier<br>
                    07 63 17 96 57
                    <br><br>
                    <span class="bold">HBC Coiffure (afro)</span><br>
                    18 Rue d’Alger,<br> 34000 Montpellier<br>
                    09 54 92 80 58
                    <br><br>
                    <span class="bold">Mr Coiffure</span><br>
                    37 Quai du verdanson , <br>34000 Montpellier<br>
                    04 67 10 92 98
                    <br><br>
                    <span class="bold">Boris Design (afro)</span><br>
                    14 Rue Henri René, <br>34000 Montpellier<br>
                    09 51 16 08 35
                </p>

            </article>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
            <article class="icon-box8">

                <div class=" glyph">
                    <i class="glyph-icon flaticon-needle6" style=" color:#000000;"></i>
                </div>

                <p class="title2">Couturier / retouche</p>
                <p>
                    <span class="bold">Express Retouche</span> <br>
                    12 Rue diderot, <br>34000 Montpellier<br>
                    04 67 52 83 36
                    <br><br>
                    <span class="bold">Retouche et Couture</span> <br>
                    68 Rue de la vielle Aiguillerie, <br>34000 Montpellier<br>
                    04 67 54 93 20
                </p>

            </article>
        </div>
    </div>

    <div class="row ">

        <hr>
        <p class="text-justify">
            <span class="title2"> Centres commerciaux (à pied ou en tramway)</span>
        </p>
        <p class="text-justify">
        <ul>
            <li> <span class="bold">Polygone Montpellier Centre</span> : 1 Rue des Pertuisanes, 34000 Montpellier
               <a href="http://www.polygone.com" target="_blank"> Site web</a></li>
        <li> <span class="bold">Centre commercial Odysseum</span> : 2 place de Lisbonne, 34000 Montpellier
            <a href="http://www.centre-commercial-odysseum.com" target="_blank"> Site web</a></li>
        </ul>
        </p>

        <p class="text-justify">
            <span class="title2">Ou manger (à pied)</span>
        </p>
        <p class="text-justify">
            <ul>
                <li>Place de la chapelle neuve, 34000 Montpellier (Rue des écoles laïques)</li>
                <li>Place de la Cathédrale Sainte-Anne, 34000 Montpellier (Rue Sainte-Anne)</li>
                <li>Esplanade de l’Europe, 34000 Montpellier (Avenue du Pirée)</li>
            </ul>
        </p>
        <p class="text-justify">
            <span class="title2"> Ou prendre un verre en centre ville (à pied)</span>
        </p>
        <p class="text-justify">
        <ul>
            <li>Place Jean Jaurès, 34000 Montpellier</li>
            <li>Place de la comédie, 34000 Montpellier</li>
            <li>Esplanade de l’Europe, 34000 Montpellier (Avenue du Pirée)</li>
        </ul>
        </p>
        <p class="text-justify">
            <span class="title2">Ou prendre un verre et/ou manger à la plage (en voiture uniquement)</span>
        </p>
        <p class="text-justify">
        <ul>
            <li><span class="bold">La Plage des Lézards</span> : Rue Samuel Bassaget, 34280 Carnon</li>
            <li><span class="bold">La Paillote Bambou</span> : Route des Plages - Le Grand Travers, 34280 La Grande-Motte</li>
            <li><span class="bold">La Voile Bleue</span> : Route des Plages – Le Grand Travers, 34280 La Grande-Motte</li>
            <li><span class="bold">Effet Mer</span> : Route des Plages - Le Grand Travers, 34280 La Grande-Motte</li>
        </ul>
        </p>

    </div>
</div>