<div class="contener train">
    <div class="row ">
        <p class="text-center">
            <span class="title">La mairie</span>
        </p>

        <br>
        <div>
             <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                 <ui-gmap-marker  coords="marker.coords" icon="marker.icon" idkey="marker.id"></ui-gmap-marker>
             </ui-gmap-google-map>
        </div>

        <div class="col-xs-12 col-md-12">
            <span class="title2">La Cérémonie Civile</span>
        </div>

        <p class="text-justify">
        Rendez-vous à la salle des mariages de la mairie de Montpellier qui se situe au Château du Domaine Grammont (en dehors de la ville).  Ça sera l’occasion de se découvrir dans nos belles tenues, s’échanger quelques regards et partager une quantité de sourires. Et pour nous les futurs mariés de prononcer un premier oui…
        </p>
        <p class="text-justify">
            <span class="title2">Ou et quand ?</span>
        </p>
        <p class="text-justify">
         <ul>
            <li>Samedi 4 juin 2016</li>
            <li>14H30</li>
            <li>Château du domaine de Grammont, 2733 Avenue Albert Einstein, 34000 Montpellier</li>
        </ul>
        </p>
        <p class="text-justify">
            <span class="title2">Comment y aller ?</span>
        </p>
        <p class="text-justify">
            Le domaine de Grammont se trouve juste à côté du Zénith à l’entrée de la ville de Montpellier.
        </p>
        <p class="text-justify">
        <ul>
            <li><span class="bold"> Depuis la ville de Montpellier,</span> la destination est très bien indiquée. Sinon suivre direction « Aéroport Montpellier Méditerranée » et ensuite « Zénith » ou « Grammont ».</li>
            <li><span class="bold">Par le NORD (Paris, Lyon, Avignon…)</span><br>
                Autoroute A7 / E15. A hauteur d’Orange prendre l’autoroute 9 / E15, direction  « Nîmes, Montpellier, Toulouse, Barcelone » Sortie n°29 « Montpellier Est » puis suivre la sortie« Zénith » sur le grand rond-point
            </li>
            <li><span class="bold">Par l’OUEST (Bordeaux, Toulouse…)</span><br>
                Autoroute A61 / E80. Puis rejoindre l’autoroute A9 / E15 direction « Narbonne, Béziers, Montpellier <br>
                . Sortie n°29 « Montpellier Est » puis suivre la sortie « Zénith » sur le grand rond-point
            </li>
            <li><span class="bold">Par l’EST (Marseille, Nice, Toulon…)</span><br>
                Rejoindre l’autoroute A7. Puis autoroute A54 / E80 direction « Salon-de-Pce, Arles, Nîmes, Barcelone ». <br>
                Rejoindre l’A9 / E15. Sortie n°29 « Montpellier Est », puis suivre la sortie « Zénith » sur le grand rond-point.
            </li>
            </ul>
        </p>
        <p class="text-justify">
            <span class="title2">Ou se garer ?</span>
        </p>
        <p class="text-justify">
            Pas de souci pour se garer il y aura de la place pour tout le monde.
            Dés que vous entrez dans le domaine, vous allez passer devant le Zénith qui se trouvera sur votre droite. Le Château du Domaine de Grammont se trouve face à vous au bout de la route, mais vous ne pouvez pas y entrer en voiture. Il faudra garer votre véhicule sur le parking à votre droite devant le château.
            Le château se trouve face au parking à 2 minutes à pied.
        </p>
    </div>

</div>