
<div class="contener train">
<div class="row " >
    <br><br>
    <p class="text-center">
        <span class="title"><span class="title-">------------</span> La navette <span class="title-">------------</span></span>
    </p>
</div>
    <br><br>
<div class="row ">

    <p class="text-justify title2 bold">
        La Navette de jour
    </p>
    <p class="bold">Votre chauffeur pour  la mairie, le domaine de Banquière et le brunch.</p>
    <p>Pour ceux qui viendront en train, et qui n’ont pas de véhicule pour se déplacer sur Montpellier, nous mettons en place un service de co-voiturage et de navette du samedi 4 juin au dimanche 5 juin pour les trajets suivants : </p>
    <ul class="departure">
        <li>Transfert de votre logement jusqu’ à la Mairie (samedi 4 juin)</li>
        <li>Transfert de la Mairie jusqu’au domaine de la Banquière (samedi 4 juin)</li>
        <li>Transfert de votre logement jusqu’au brunch et retour à votre logement (dimanche 5 juin)</li>
    </ul>
</div>
<br>
<div class="row ">

    <p class="text-justify title2 bold">
        La Navette de nuit
    </p>
    <p class="text-justify">
        Profitez de la fête et rentrez safe
    </p>
    <p class="text-justify">
        Afin que chacun puisse profiter de la fête comme il l’entend et ne prenne aucun risque sur la route du retour, nous mettons en place une navette pour la nuit de samedi. Son chauffeur pourra vous conduire dans vos différents appartement, hôtels et chambres d’hôtes dans un rayon de 20 minutes autour de la salle.
    </p>
    <p>Départ à partir de 1h, dès que la navette est pleine.</p>
</div>
    <hr>
<div class="endPage"></div>
</div>