<div class="contener programme">

        <p class="text-center">
            <span class="title">Au Programme</span>
        </p>
    <p class="text-center">
        <span class="title2">Samedi 4 juin 2016</span>
    </p>
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <section>
    <div class="row">
            <div class="col-xs-6 col-md-5 text-right"><span class="title3">14h30 - Cérémonie civile</span>
                Rendez-vous devant la salle des mariages du Domaine de Grammont, sous les ballons bleus, avant de rentrer tous ensemble pour se dire oui.
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="glyph">
                    <div class="glyph-icon flaticon-museum39"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5 text-left"></div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-xs-6 col-md-5 text-right">
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="glyph">
                    <div class="glyph-icon flaticon-drinks12"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5 text-left"><span class="title3">15h30 - Rafraichissements</span>
                C’est rare d’être ainsi tous réunis autour d’un verre !
                Alors profitons-en pour prendre quelques selfies, papoter et lézarder dans les beaux jardins du domaine au soleil si le ciel joue le jeu.</div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-xs-6 col-md-5 text-right">
                <span class="title3">17H30 - Cérémonie d’engagement</span>
                Le premier oui à la mairie n’était qu’un échauffement. Maintenant, il est temps de passer aux choses sérieuses !
                Devant vos yeux, on s’échange un autre oui, on s’échange des vœux et enfin, on s’échange les alliances.
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="glyph">
                    <div class="glyph-icon flaticon-rings4"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5 text-left"></div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-xs-6 col-md-5 text-right">
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="glyph">
                    <div class="glyph-icon flaticon-lemonade2"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5 text-left"><span class="title3">19H00 - Cocktail</span>
                L’heure est venue de porter un toast ! Dans l’un des jardins du domaine, attrapez un verre et trinquez avec nous.
                Accessoirement, il y aura aussi plein de bonnes choses à grignoter. À la vôtre !
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-xs-6 col-md-5 text-right">
                <span class="title3">21H00 - Dîner</span>
                Entrez dans le mas collé au château, trouvez votre table et installez-vous confortablement.
                Entre deux jasettes avec votre voisin voisine, découvrez le menu avant de passer à la dégustation. Et puis… bon appétit !
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="glyph">
                    <div class="glyph-icon flaticon-cutlery23"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5 text-left"></div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-xs-6 col-md-5 text-right">
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="glyph">
                    <div class="glyph-icon flaticon-dancer5"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5 text-left"><span class="title3">23H00 – Soirée</span>
                Vos jambes commencent à s’engourdir ? Quelques fourmis se font sentir ?
                Alors, en piste ! Laissez la musique vous entraîner et montrez-nous vos plus beaux déhanchés.</div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-xs-6 col-md-5 text-right">
                <span class="title3">01H00 – Premier départ de navette</span>
                Oyé, oyé ! Que ceux qui commencent à fatiguer soient rassurés, la navette vient d’arriver.
                Grimpez à bord et, dès que celle-ci est pleine, prenez la direction de vos hôtels, gîtes et chambres d’hôtes.
                Reposez-vous bien pour mieux revenir demain !
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="glyph">
                    <div class="glyph-icon flaticon-vehicle12"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5 text-left"></div>
        </div>
    </section>

    <hr>

    <p class="text-center">
        <span class="title2">Dimance 5 juin 2016</span>
    </p>
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <section>
        <div class="row">
            <div class="col-xs-6 col-md-5 text-right"><span class="title3">11H00 – Brunch</span>
                Lendemain de soirée oblige, on se remet d’aplomb avec un bon thé ou un café. Puis on partage les anecdotes de la veille autour d’un brunch reboostant dans un lieu qui vous sera prochainement dévoilé.
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="glyph">
                    <div class="glyph-icon flaticon-lunch4"></div>
                </div>
            </div>
            <div class="col-xs-6 col-md-5 text-left"></div>
        </div>
    </section>

</div>