<div class="contener train">
    <i id="begin"></i>
    <br><br>
    <div class="row ">
        <p class="text-center">
            <span class="title"><span class="title-">------------</span> Le Domaine de la Banquière <span class="title-">------------</span></span>
        </p>
        <br><br>
        <div>
             <ui-gmap-google-map center='map2.center' zoom='map2.zoom'>
                 <ui-gmap-marker  coords="marker2.coords" icon="marker2.icon" idkey="marker2.id">
                     <ui-gmap-window show="true">
                         <div>{{marker2.options.labelContent}}</div>
                     </ui-gmap-window>
                 </ui-gmap-marker>
             </ui-gmap-google-map>
        </div>
        <br>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <p>
                <span class="title2 bold">Tous au domaine !</span>
            </p>

            <p class="text-justify">
                Après la mairie, rendez-vous au Domaine de la Banquière pour le reste des festivités. A quelques kilomètres du Château de Grammont,
                les jardins du Domaine de la Banquière nous attendent pour des rafraichissements, une après-midi ludique, une cérémonie personnelle,
                un cocktail en fin de journée et une soirée de fête. Pour plus de détails, consultez le programme !
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <p class="text-justify">
                <span class="title2 bold" style="padding-left: 25px">Ou et quand ?</span>
            </p>
            <p class="text-justify">
            <ul class="noPuce">
                <li><div class="row"><div class="col-sm-2 col-md-2"><i class="flaticon-calendar146"></i></div><div class="col-sm-10 col-md-10" >Samedi 4 juin 2016</div></div></li>
                <li><div class="row"><div class="col-sm-2 col-md-2"><i class="flaticon-clock96"></i></div><div class="col-sm-10 col-md-10" >15H30</div></div></li>
                <li><div class="row"><div class="col-sm-2 col-md-2"><i class="flaticon-location38"></i></div><div class="col-sm-10 col-md-10" >Domaine de la Banquière, Chemin de la Banquière, 34130 Mauguio</div></div></li>
            </ul>

            </p>
        </div>
    </div>
    <hr>
    <div class="row degrader">
        <br>
        <p class="text-justify">
            <span class="title2 bold">Comment y aller ?</span>
        </p>
        <p class="text-justify">
            Le Domaine de la Banquière se trouve à l’entrée de la ville de Montpellier et à 5 minutes en voiture du Domaine de Grammont.
        </p>
        <p class="text-justify">
        <ul>
            <li class="text-justify"><span class="bold"> Depuis la ville de Montpellier,</span><br>
                Suivre les directions « A9 » ou « Aéroport Montpellier Méditerranée ». <br>Une fois sortie de la ville suivre les panneaux « A9 (Lyon) » et
                « Aéroport Montpellier Méditerranée ». <br>Passez les 2 ponts et continuer direction « Aéroport Méditerranée ».<br>
                Continuer sur la D66 prendre la sortie « Mauguio / Espace commercial Fréjorgues Est » (bien faire attention pour ne pas manquer la sortie).<br>
                Passez sous le pont et continuer tout droite, suivre la destination « Espace commercial Fréjorgues Est ».<br>
                Au rond point, prendre la sortie « Château de la Banquière ».<br>
                Prendre la deuxième rue à gauche pour arriver au Domaine de la Banquière.
            </li>
            <li class="text-justify"><span class="bold">Par le NORD (Paris, Lyon, Avignon…)</span><br>
                Autoroute A7 / E15. <br>A hauteur d’Orange prendre l’autoroute 9 / E15, direction  « Nîmes, Montpellier, Toulouse, Barcelone ».<br>
                 Sortie n°29 « Montpellier Est » puis suivre la sortie « Aéroport Montpellier Méditerranée » sur le grand rond-point.<br>
                Continuer sur la D66 prendre la sortie « Mauguio / Espace commercial Fréjorgues Est » (bien faire attention pour ne pas manquer la sortie)
                Passez sous le pont et continuer tout droite, suivre la destination « Espace commercial Fréjorgues Est »<br>
                Au rond point, prendre la sortie « Château de la Banquière ».<br>
                Prendre la deuxième rue à gauche pour arriver au Domaine de la Banquière.
            </li>
            <li class="text-justify"><span class="bold">Par l’OUEST (Bordeaux, Toulouse…)</span><br>
                Autoroute A61 / E80. <br>Puis rejoindre l’autoroute A9 / E15 direction « Narbonne, Béziers, Montpellier ».<br>
                 Sortie n°29 « Montpellier Est » puis suivre la sortie « Aéroport Montpellier Méditerranée » sur le grand rond-point<br>
                Continuer sur la D66 prendre la sortie « Mauguio / Espace commercial Fréjorgues Est » (bien faire attention pour ne pas manquer la sortie)<br>
                Passez sous le pont et continuer tout droite, suivre la destination « Espace commercial Fréjorgues Est »
                Au rond point, prendre la sortie « Château de la Banquière »<br>
                Prendre la deuxième rue à gauche pour arriver au Domaine de la Banquière
            </li>
            <li class="text-justify"><span class="bold">Par l’EST (Marseille, Nice, Toulon…)</span><br>
                Autoroute A61 / E80. <br>Puis rejoindre l’autoroute A9 / E15 direction « Narbonne, Béziers, Montpellier ». Sortie n°29 « Montpellier Est » puis suivre la sortie « Aéroport Montpellier Méditerranée » sur le grand rond-point<br>
                Continuer sur la D66 prendre la sortie « Mauguio / Espace commercial Fréjorgues Est » (bien faire attention pour ne pas manquer la sortie)<br>
                Passez sous le pont et continuer tout droite, suivre la destination « Espace commercial Fréjorgues Est »<br>
                Au rond point, prendre la sortie « Château de la Banquière »<br>
                Prendre la deuxième rue à gauche pour arriver au Domaine de la Banquière
            </li>
            </ul>
        </p>

    </div>
    <div class="endPage"></div>

</div>