<div class="contener train">
    <div class="row ">
        <p class="text-center">
            <span class="title">Billets de train reserves</span>
        </p>
        <p class="text-justify body">
            Qui veut un billet de train ?

            Parce que comme vous, nous aussi on réserve tout à la dernière minute (surtout le marié),

            mais surtout parce que nous tenons beaucoup à ce que vous soyez tous parmi nous, grâce à

            notre cher ami Riadh (Mr SNCF) nous avons pu vous réserver 60 billets de train aller-retour

            Paris/Montpellier pour les dates suivantes :

            Aller  Paris  Montpellier

            Vendredi 3 juin à xxxx

            Vendredi 3 juin à xxxx

            Samedi 4 juin à xxxx

            Retour Montpellier  Paris

            Dimanche 5 juin à xxxx

            Dimanche 5 juin à xxxx

            Pour acheter un billet, merci de remplir le formulaire ci-dessous,

            PREMIERS ARRIVES = PREMIERS SERVIS

            Formulaire

            Nom + adresse email

            Votre message
        </p>


    </div>
</div>