<div class="contener train">
    <div class="row ">
        <br><br>
        <p class="text-center">
            <span class="title"><span class="title-">------------</span> Billets de train <span class="title-">------------</span></span>
        </p>
        <br><br>
        <p class="text-justify title2 bold">
            Qui veut un billet de train ?
        </p>
        <p class="text-justify body">
            Parce que comme vous, nous aussi on fait tout à la dernière minute.

            Nous avons pu réserver pour les retardataires 40 billets de train aller-retour. De

            Paris-Gare de Lyon à Montpellier au tarif unitaire de 20 à 40 euros.
        </p>
        <div class="hortrains">
            <span class="departure title2">Aller - Paris > Montpellier</span>
            <ul class="departure">
                <li>Vendredi 3 juin à 12h07</li>
                <li>Vendredi 3 juin à 20H15</li>
                <li>Samedi 4 juin à 08h07</li>
            </ul>
            <span class="departure title2">Retour - Montpellier > Paris</span>
            <ul class="departure">
                <li>Dimanche 5 juin à 16h23</li>
                <li>Dimanche 5 juin à 18h25</li>
            </ul>
        </div>
        <div class="text-center firstIn">
            <span >Premiers arrivés = Premiers servis</span>
        </div>
    </div>

    <hr>

    <div class="row ">
        <p class="text-center">
        <span class="title">Formulaire demande de billet</span>
    </p>
    </div>

    <form name="contactform" method="post" action="" class="form-horizontal" role="form">
        <div class="form-group" ng-class="{ 'has-error': showError('nom') && testSubmit}">
            <label for="inputName" class="col-sm-2 control-label">Nom</label>
            <div class="col-sm-5">
                <input ng-model="formData.nom" type="text" class="form-control" id="inputName" name="inputName" ng-change="initError('nom')" placeholder="Nom" ng-required="true" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': showError('prenom') && testSubmit }">
            <label for="inputLastname" class="col-sm-2 control-label">Prénom</label>
            <div class="col-sm-5">
                <input ng-model="formData.prenom" type="text" class="form-control" id="inputLastname" name="inputLastname" placeholder="Prenom" ng-change="initError('prenom')" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': showError('email') && testSubmit }">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input ng-model="formData.email" type="email" class="form-control" id="email" name="email" placeholder="Email" ng-change="initError('email')" required>
            </div>
        </div>
        <div class="form-group selct" >
            <label for="inputEmail3" class="col-sm-2 control-label">Depart</label>
            <div class="col-sm-5">
                <select class="form-control"  ng-model="formData.depart">
                    <option value="Vendredi 3 juin à 12h07">Vendredi 3 juin à 12h07</option>
                    <option value="Vendredi 3 juin à 20H15">Vendredi 3 juin à 20H15</option>
                    <option value="Samedi 4 juin à 08h07">Samedi 4 juin à 08h07</option>
                </select>
            </div>
        </div>
        <div class="form-group selct">
            <label for="inputEmail3" class="col-sm-2 control-label">Retour</label>
            <div class="col-sm-5">
                <select class="form-control"  ng-model="formData.retour">
                    <option value="Dimanche 5 juin à 16h23">Dimanche 5 juin à 16h23</option>
                    <option value="Dimanche 5 juin à 18h25">Dimanche 5 juin à 18h25</option>
                </select>
            </div>
        </div>
        <div class="form-group nbselct">
            <label for="inputEmail3" class="col-sm-2 control-label">Nombre de place</label>
            <div class="col-sm-2">
                <input ng-model="formData.nbr" type="number" class="form-control" id="inputEmail3"  step="1" value="1" min="1" max="5">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sx-offset-2 col-sx-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
                <button type="button" ng-click="submitFormTrain()" class="btn btn-primary btn-lg"  ng-disabled="submitButtonDisabled">Envoyer</button>
            </div>
        </div>
    </form>

    <br>
    <hr>
    <div class="endPage"></div>

</div>