@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-beds12:before {
	content: "\e000";
}
.flaticon-calendar146:before {
	content: "\e001";
}
.flaticon-camera115:before {
	content: "\e002";
}
.flaticon-classic8:before {
	content: "\e003";
}
.flaticon-clock96:before {
	content: "\e004";
}
.flaticon-cocktail32:before {
	content: "\e005";
}
.flaticon-cutlery23:before {
	content: "\e006";
}
.flaticon-dancer5:before {
	content: "\e007";
}
.flaticon-diamond36:before {
	content: "\e008";
}
.flaticon-drinks11:before {
	content: "\e009";
}
.flaticon-drinks12:before {
	content: "\e00a";
}
.flaticon-gps45:before {
	content: "\e00b";
}
.flaticon-hairdresser10:before {
	content: "\e00c";
}
.flaticon-hairdresser17:before {
	content: "\e00d";
}
.flaticon-hairdresser5:before {
	content: "\e00e";
}
.flaticon-lemonade2:before {
	content: "\e00f";
}
.flaticon-location38:before {
	content: "\e010";
}
.flaticon-lunch4:before {
	content: "\e011";
}
.flaticon-man204:before {
	content: "\e012";
}
.flaticon-man209:before {
	content: "\e013";
}
.flaticon-meal19:before {
	content: "\e014";
}
.flaticon-museum39:before {
	content: "\e015";
}
.flaticon-needle6:before {
	content: "\e016";
}
.flaticon-opened4:before {
	content: "\e017";
}
.flaticon-phone325:before {
	content: "\e018";
}
.flaticon-photos12:before {
	content: "\e019";
}
.flaticon-rings4:before {
	content: "\e01a";
}
.flaticon-stars10:before {
	content: "\e01b";
}
.flaticon-tailor1:before {
	content: "\e01c";
}
.flaticon-telephone33:before {
	content: "\e01d";
}
.flaticon-vehicle12:before {
	content: "\e01e";
}
