<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- CSS (load material) -->
    <link rel="icon"  href="favicon.ico" />
    <link rel="stylesheet" href="./lib/angular-material/angular-material.layouts.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .navbar { border-radius:0; }
    </style>
    <link rel="stylesheet" type="text/css" href="./css/icon/flaticon.css">
    <link rel="stylesheet" href="./css/style.css">

    <!-- JS (load angular, ui-router, and our custom js file) -->

</head>

<!-- apply our angular app to our site -->
<body ng-app="routerApp" ng-controller="indexCtrl">
<div class="contener index body" >
    <header  class="pos">
        <nav class="navbar navbar-default" style="margin-bottom:0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" id="logo2"  ui-sref="home"><img  style=" max-width: 50px;padding-top: -10px;margin-top: -13px;"  src="./img/Logo_ZD.png"></a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar" class="navbar-collapse collapse row" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav  col-md-6 col-sm-6 row" style="width: 45%;padding-top:23px">
                    <li class="dropdown menuLi col-md-4 col-sm-4" ng-class="{active: menuNav==1}">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comment venir ?<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li  ng-click="menuNav = 1;closeMobileMenu();"><a ui-sref="jeviens">Confimer votre presence</a></li>
                            <li role="separator" class="divider"></li>
                            <li  ng-click="menuNav = 1;closeMobileMenu();"><a ui-sref="trains">Billets de train</a></li>
                            <li  ng-click="menuNav = 1;closeMobileMenu();"><a ui-sref="navette">La navette</a></li>
                            <li role="separator" class="divider"></li>
                            <li  ng-click="menuNav = 1;closeMobileMenu();"><a ui-sref="mairie">La Mairie</a></li>
                            <li  ng-click="menuNav = 1;closeMobileMenu();"><a ui-sref="reception">Le Domaine de la Banquière</a></li>
                            <li  ng-click="menuNav = 1;closeMobileMenu();"><a ui-sref="brunch">Le Brunch</a></li>
                        </ul>
                    </li>
                    <li ng-class="{active: menuNav==2}" ng-click="menuNav = 2;closeMobileMenu();" class="menuLi col-md-4 col-sm-4"><a ui-sref="programme">Au programme ?</a></li>
                    <li class="dropdown menuLi col-md-4 col-sm-4" ng-class="{active: menuNav==3}">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-class="{active: menuNav==3,}">Ou dormir ?<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li  ng-click="menuNav = 3;closeMobileMenu();"><a ui-sref="dormir">AirBnb</a></li>
                            <li  ng-click="menuNav = 3;closeMobileMenu();"><a ui-sref="hotels">Hôtels</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav  col-md-2 col-sm-2 row" style="padding-right: 0px; width: 10%" id="logo">
                    <li style="width: 100%" ng-click="menuNav = 0;"><a ui-sref="home"><img src="./img/Logo_ZD.png" class="col-md-12 col-lg-12 col-sm-12" style="padding-left:0px;padding-right:0px;"/></a></li>
                </ul>

                <ul class="nav navbar-nav  col-md-6 col-sm-6 row" style="width: 45%; padding-top:23px">
                    <li ng-class="{active: menuNav==4,}" ng-click="menuNav = 4;closeMobileMenu();" class="menuLi col-md-4 col-sm-4" ><a ui-sref="liensUtils">Liens utiles</a></li>
                    <li ng-class="{active: menuNav==5,}" ng-click="menuNav = 5;closeMobileMenu();" class="menuLi col-md-4 col-sm-4 " ><a ui-sref="cadeau">Le Cadeau</a></li>
                    <li ng-class="{active: menuNav==6,}" ng-click="menuNav = 6;closeMobileMenu();"  class="menuLi col-md-4 col-sm-4" ><a ui-sref="contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
        <hr style="margin-top: 0px;margin-bottom: 20px;border-width:3px;">
        <div class="alert alert-success"  class="alertLink" ng-class="{active:showSuccess}" role="alert" style="margin-top: -20px">
            <span  class="alert-link">{{messageSuccess}}</span>
        </div>
        <div class="alert alert-danger"  class="alertLink" ng-class="{active:showError}" style="margin-top: -20px" role="alert">
            <span>{{messageError}}</span>
        </div>
    </header>

    <div id="container" ui-view>

    </div>

    </div>
<script src="./lib/angular/angular.min.js"></script>
<script src="./lib/ui-router/release/angular-ui-router.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./lib/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src='./lib/lodash/lodash.min.js'></script>
    <script src='./lib/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.2.1/angular-google-maps.min.js"></script>

    <script src="app.js"></script>
<script src="./js/controllers/index.js"></script>
<script src="./js/controllers/homeCrtl.js"></script>
<script src="./js/controllers/mairieCrtl.js"></script>
<script src="./js/controllers/receptionCrtl.js"></script>
<script src="./js/controllers/jeviensCrtl.js"></script>
<script src="./js/controllers/trainCrtl.js"></script>
<script src="./js/controllers/dormirCrtl.js"></script>
<script src="./js/controllers/contactCrtl.js"></script>
</body>
</html>
